<html lang="en">

<%- include("./partials/header.ejs") %>

  <body>
    <div class="error_404">
      <img src="./images/404.jpg" align="center" alt="error page not found" width="25%" height="25%">
    </div>

    <%- include("./partials/footer.ejs") %>

  </body>

</html>