<!DOCTYPE html>
<html>

<head>
  <title>Find the buried treasure!</title>
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  <link rel="icon" href="./images/icon.jpg" type="image/x-icon" />
</head>

<body>
  <div class="context-map">
    <div class="parent-flex-map center-map">
      <h1 id="heading">Find the buried treasure!</h1>
    </div>

    <div class="parent-flex-map center-map">
      <img id="map" width="400" height="400" src="./images/treasuremap.webp" />
    </div>

    <div class="parent-flex-map center-map">
      <div class="display">
        <h2 id="distance">Freezing!</h2>

        <h2 id="click">0</h2>
      </div>


    </div>
  </div>


  <script src="https://code.jquery.com/jquery-2.1.0.js"></script>
  <script src="./app/buried_treasure.js"></script>
</body>

</html>