/* home page styles */

html {
  background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  overflow: auto;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-size: larger;
}

button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
}

.context {
  width: 100%;
  position: absolute;
  top: 40vh;
}

.context h1 {
  text-align: center;
  color: black;
  font-size: 50px;
}

.context form {
  color: #fff;
  font-size: 30px;
}

.parent-flex {
  display: flex;
  padding-bottom: 20px;
}

.center {
  justify-content: center;
}

.btn {
  margin: 10px;
  cursor: pointer;
}

#rule {
  font-size: large;
}
#Play {
  font-size: large;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 8px solid #888;
  border-radius: 5px;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.navbar a {
  text-decoration: none;
  text-align: center;
  font-size: larger;
  border: 2px solid black;
  border-radius: 5px;
}
.navbar ul {
  list-style-type: none;
  margin-right: 10%;
  width: 100px;
  height: auto;
}

.navbar a {
  color: black;
  width: 150px;
}

.navbar a:hover {
  background-color: black;
  color: white;
}

/* popup styles */

.rule-container h2 {
  text-align: center;
  padding-bottom: 20px;
}

.rule-container li {
  padding-bottom: 5px;
  font-size: large;
}

/* game page styles */

* {
  margin: 0px;
  padding: 0px;
}

.context-map {
  display: block;
  width: 100%;
  position: absolute;
}

.context-map h1 {
  text-align: center;
  color: black;
  font-size: 50px;
}

.parent-flex-map {
  display: flex;
  padding-bottom: 20px;
}

.display {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.display h2 {
  width: 130px;
  text-align: center;
  justify-content: center;
  align-content: center;
  border: 2px solid black;
  border-radius: 5px;
}

.center-map {
  justify-content: center;
  align-items: flex-start;
}

/* register styles */

.reg-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-items: center;
  align-items: stretch;
  border: solid 2px black;
  border-radius: 8px;
  margin-left: 35%;
  margin-top: 8%;
}

.form-group {
  margin: 10px;
}

#reg-btn {
  margin: 10px;
  margin-left: 25%;
}

#reg-p {
  margin-left: 30%;
}

/* login styles */

.login-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-items: center;
  align-items: stretch;
  border: solid 2px black;
  border-radius: 8px;
  margin-left: 35%;
  margin-top: 8%;
}

.form-group {
  margin: 10px;
}

#login-btn {
  margin: 10px;
  margin-left: 25%;
}

#login-p {
  margin-left: 30%;
}

/* 404 error styles */

.error_404 {
  top: 30vh;
  text-align: center;
  margin-top: 100px;
}

/* welcome styles */

.welcome-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-items: center;
  align-items: center;
  border: solid 2px black;
  border-radius: 8px;
  margin-left: 35%;
  margin-top: 8%;
}

.welcome-container a:hover,
.welcome-container a:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wel-btn {
  width: 60%;
  margin: 10px;
  margin-left: 8%;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
